/* BODY */
body {
    background-image: url("wallpaper1.jpg");
    color: #87ebda;
}

/* HEADER */
header {
    width: 80%;
    margin: 50px auto;
}

header h1 {
    font-size: 60px;
    margin: 25px auto;
}

header p {
    font-size: 25px;
}

/* MAIN PAGE NAVIGATION */
.home-main-nav {
    padding: 5% 5%;
    margin: 100px 0 100px 0;
    background-color: #003029;
    transform: skew(1deg, 1deg);
}

.home-main-nav li {
    background-color: #001f1a;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    padding: 25px 25px;
    position: relative;
}

.home-main-nav li:nth-child(odd) {
    transform: skew(-2deg, -2deg);
    flex-direction: row;
    right: 15px;
}

.home-main-nav li:nth-child(even) {
    flex-direction: row-reverse;
    left: 15px;
}

/* TRANSITION STUFF */

/*I add 'scale(1, 1)' to both <a>'s in order for transition to work properly*/
.home-main-nav li:nth-child(odd) a, .home-main-nav li:nth-child(odd) p {
    transform: skew(1deg, 1deg) scale(1, 1);
}

.home-main-nav li:nth-child(even) a, .home-main-nav li:nth-child(even) p {
    transform: skew(-1deg, -1deg) scale(1, 1);
}

.home-main-nav li a {
    transition: transform 0.2s;
}

/* HOVER */
.home-main-nav li:nth-child(odd) a:hover {
    transform: skew(1deg, 1deg) scale(1.03, 1.03);
}

.home-main-nav li:nth-child(even) a:hover {
    transform: skew(-1deg, -1deg) scale(1.03, 1.03);
}

/* ETC. */
.home-main-nav li a {
    flex: 0 0 35%;
    margin: 0 0;
    align-items: center;
    position: relative;
    bottom: 3px;
}

.home-main-nav li p {
    flex: 0 0 60%;
    margin: 0 0;
    align-items: center;
    position: relative;
    top: 3px;
}

.home-main-nav li a img {
    display: block;
    width: 100%;
    position: relative;
    z-index: 11;
}

/* IMG BORDER */
.img-border {
    width: 106%;
    height: 106%;
    position: absolute;
    left: -3%;
    top: -3%;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: #2bf3d2;
    z-index: 10;
}

.home-main-nav li:nth-child(odd) .img-border {
    transform: skew(1deg, 1deg);
}

.home-main-nav li:nth-child(even) .img-border {
    transform: skew(-1deg, -1deg);
}


/* EXTRA HOVER EFFECT FOR IMG BORDER */
.home-main-nav li a:hover .img-border {
    opacity: 1;
}

/* FOOTER */
footer {
    background-color: #001f1a;
    box-sizing: border-box;
    padding: 40px 25px 40px 25px;
    width: 100%;
}

footer h2 {
    text-align: center;
    margin: 0 0 50px 0;
    width: 100%;
}

footer nav, footer ul {
    width: 100%;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

footer ul li a {
    text-decoration: none;
    color: #87ebda;
}


















/* DEBUG */

.home-main-nav li {
    /* border: 1px solid green; */
}

.home-main-nav li a, .home-main-nav li p {
    /* border: 1px solid red; */
}

.home-main-nav li a img {
    /* border: 1px solid orange; */
}



/*
.home-main-nav li a {
    transform: scale(1, 1);
    transition: transform 300ms;
}

.home-main-nav li a:hover {
    transform: scale(1.03, 1.03);
}
*/